<mat-card>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="forgotForm" spellcheck="false"
        (ngSubmit)="onSubmit(forgotForm)">
        <mat-card-header>
            <mat-card-title>
                <h3>forgot</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput formControlName="email" type="email" placeholder="email">
                <mat-error *ngIf="error.email">{{error.email}}</mat-error>
            </mat-form-field>

            <div *ngIf="serverErrors">
                <mat-error *ngFor="let error of serverErrors.message.errors">{{error.msg}}</mat-error>
            </div>
            <div class="redirect-links">
                <div>
                    <a routerLink="/login">back to login</a>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="forgotForm.invalid || processingForgot">send email {{processingForgot}}</button>
            </div>
        </mat-card-actions>
    </form>
</mat-card>