:host-context(.profile) mat-card-content {
    width: 100%;
    mat-form-field {
        width: 100%;
    }
}

:host-context(.reset-password) form {
    width: 100%;
    height: 100%;
    .redirect-links {
        margin-top: 20px;
    }
}