<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <nasa-sidenav-content [JWTPayload$]="JWTPayload$" (closeSidenav)="closeIfHandset()" (logout)="logout()">
        </nasa-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <nasa-toolbar [isHandset$]="isHandset$" [profile$]="profile$" (toggleSidenav)="sidenav.toggle()"></nasa-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>