<mat-card>
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="profileForm" spellcheck="false"
        (ngSubmit)="submitProfile(profileForm)">
        <mat-card-header>
            <mat-card-title>
                <h3>profile</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput formControlName="name" type="text" placeholder="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="location" type="text" placeholder="location">
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="website" type="text" placeholder="website">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">update</button>
        </mat-card-actions>
    </form>
</mat-card>

<mat-card class="profile">
    <nasa-password-form [errors]="serverErrors" (submitForm)="submitPassword($event)"></nasa-password-form>
</mat-card>

<mat-card>
    <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" type="submit" (click)="deleteProfile()">delete profile</button>
    </div>
</mat-card>